<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Tallennetut mittaukset')">
        <title th:title="${title}">tekstiä</title>
    </head>
    <body>
        <nav th:replace="fragments/layout :: nav"></nav>
        <h1>Mittaustulokset</h1>
        <table class="table table-striped" id="haku" border="1">
            <thead>
                <tr>
                    <th>Farmi</th>
                    <th>Päiväys</th>
                    <th>Anturi</th>
                    <th>Arvo</th>
                </tr>
            </thead>
                <tbody id="taulukko">
                <tr th:each="mittaus : ${mittaus}" class="item">
                    <td>
                        <span th:text="${mittaus.location}"></span>
                    </td>
                    <td>
                        <span th:text="${mittaus.datetime}"></span>
                    </td>
                    <td>
                        <span th:text="${mittaus.sensortype}"></span>
                    </td>
                    <td>
                        <span th:text="${mittaus.value}"></span>
                    </td>
                </tr>  
            </tbody>
        </table>
        <footer th:replace="fragments/layout :: footer"></footer>
    </body>
</html>